

<div id="wrapper" class="wrapper" data-hook>

  <div id="content" class="columns <%= !content_for?(:sidebar) ? "sixteen" : "twelve omega" %>" data-hook>
    <%= flash_messages %>
    <%= yield %>
    <%= yield :templates %>
  </div>

</div>
