/* -------------------------------------
 * Your CSS code for flash notices and alerts
* ------------------------------------- */

.alert {
  margin: 0;
  text-align: center;
  color: white;
  background: #77E89C;
}
.alert-info {
  background: #77E89C;
}
.alert-warning {
  background: #E95262 !important;
}
