$box-shadow-button: 0 1.5rem 4.5rem 0 rgba(0, 0, 0, 0.1), 0 0.2rem 2rem 0 rgba(0, 0, 0, 0.3);


.btn{
  height: 4.4rem;
  width: 25.4rem;
  text-align: center;
  text-transform: uppercase;
  padding: 1.1rem 1.8rem;
  font-weight: 400;
  font-size: 1.4rem;
  font-family: "Montserrat", "Helvetica", "sans-serif";
  transition: all .5s ease;
  border-radius: 0;


  &:hover{
    opacity: 1;
    transform: translateY(-.1rem) scale(1.01);

    &::after{
    transform: scaleX(1.4) scaleX(1.8);
    opacity: 0;
    }
  }
  &:active,
  &:focus,{
    outline: none !important;
    transform: translateY(-1px); /*related to initial state*/
  }

  &--white{
    background-color: white;
    color: black;
    box-shadow: $box-shadow-button;
  }
  &--white-border{
    background-color: white;
    color: $color-black;
    border: 1px solid $color-black;
    &::hover,
    &:active,
    &:focus{
      border-bottom: 3px solid $color-black;
    }
  }


  &--banner{
   position: absolute;
  right: 10rem;
  box-shadow: 0 1.5rem 4.5rem 0 rgba(0,0,0,0.6), 0 .2rem .3rem 0 rgba(0,0,0,0.5);;
  }


  &--black{
    color: White;
    background-color: $color-black;
  }

  &--down{
    top: 22rem;
    position: absolute;

  }

  &--featured{
    position: relative;
    bottom: 30%;
    left: 30%;
  }

  &--third{
    position: relative;
    bottom: 30%;
    left: 50%;
    transform: translateX(-50%)
  }

}



