.footer{
  background-color: white;
  height: 30rem;
  width: 100%;
  margin: 0 auto;
  position: relative;
  color: $color-black;
  padding-top: 10rem;
  z-index: -10;

  @include respond(phone) {
    padding-top: 0;
  }


  &__left{
    position: absolute;
    left: 0;
    top:0;
    width: 40%;
    height: 100%;
    @include respond(phone) {
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;
    }

  }

  &__right{
    position: absolute;
    right: 0;
    top: 0;
    width: 40%;
    text-align: right;
    @include respond(phone) {
      position: relative;
      width: 100%;
      height: auto;
      text-align: center;
    }

  }

  &__list{
    list-style: none;
    font-size: 1.2rem;
    font-family: $headers-font;
    font-weight: 200;
    line-height: 4rem;
    margin-top: 5rem;
  }


  &__logo-box{
    width: 8rem;
    margin: 0;
    padding: 0px;
    position: absolute;
    bottom: -1rem;
    left: 0;
    transform: translateY(-50%);
    @include respond(phone) {
      position: relative;
      margin: 2rem auto;
    }
  }

  &__image {
  height: 6.4rem;
  }

  &__form-group{
    h3{
      margin-top: 6rem;
      font-family: $headers-font;
      font-weight: 200;
      text-transform: uppercase;
    }
    @include respond(phone) {
      display: none;
    }
  }

  &__icons{
      font-family: $headers-font;
      font-weight: 200;
      text-transform: uppercase;
      font-size: 1.6rem;
      position: absolute;
      right: 0;
      bottom: -20rem;
      @include respond(phone) {
        position: relative;
        width: 100%;
        bottom: 0;
        li{
         font-size: 3rem;
         padding: 3rem;
        }
    }
  }



}

.follow{
  @include respond(phone) {
    display: none !important;
  }
}


















