.form-item{
  font-size: 1.5rem;
  padding: 1rem 2rem;
  background-color: rgba(white, .5);
  border: 1px solid $color-black;
  color: $color-black;
  font-family: inherit;
  border-bottom: 3px solid transparent;
  display: block;
  transition: all .3s;
  font-family: $headers-font;
  font-weight: 300;
  border-bottom: 1px solid $color-black;

  &::input-placeholder{
    color: $gray;
    font-weight: 300;
    }

    &:focus{
    outline: none;
    // box-shadow: $box-shadow-button;
    border-bottom: 3px solid $color-black;
    }

    &:focus:invalid{
      border-bottom: 3px solid $orange;
    }

   &:focus:valid{
        border-bottom: 3px solid $green;
      }

}
