.top{
  top: 0;
  width: 100%;
  position: fixed;
  z-index: 8888;
  background-color: white;
}


.cart-info{
  transform: translateY(-1rem);
  font-size: 1.2rem;
}

%n-placeholder{
  position: absolute;
  width: 30rem;
  display: inline-block;
  top: 0;
  @include respond(phone) {
    position: relative;
    width: auto;
  }
 }


/* Main navbar */
.navbar{
  background: white;
  transition: all 0.3s ease;
  height: 8rem;
  width: 100%;
  bottom: -8rem;
  position: absolute;
  align-items: center;
  justify-content: space-between;
  color: black;
  z-index: 9999;
  border-radius: none;
  // border: 1px solid red;
  @include respond(portrait) {
    height: 6rem;
    bottom: -6.5rem;
  }



  button{
    -webkit-appearance: caret !important;
  }

  /* Logo */

  &__logo-box{
    width: 16rem;
    margin: 0;
    padding-left: 5vw;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    @include respond(portrait) {
      padding-left: 2.5vw;
    }
    @include respond(phone) {
     top: 1rem;
    }

    &__image {
      height: 6.4rem;
      @include respond(portrait) {
        height: 5.4rem;
      }
      @include respond(phone) {
       height: 4rem;
      }
    }
  }

  // Positioning

  &--center{
    margin: 0 auto;
    width: 50rem;
    height: 8rem;
    top: 45%;
    transform: translateY(-0.9rem);
    @include respond(portrait) { // width < 1200
      width: 35rem;
    }
    @include respond(phone) {
      top: 4.5rem;
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

  }


  &--right{
    position: absolute;
    top: 51%;
    right: 0;
    display: flex;
    align-items: center;
    width: 20rem;
    justify-content: space-between;
    transform: translateY(-50%);
    margin-right: 5vw;

    @include respond(portrait) { // width < 1200
      width: 15rem;
      margin-right: 1vw;
    }

    @include respond(phone) {
      top: 1.5rem;
      width: 25rem;
    }


    &__icon{
      font-size: 2rem;
      @include respond(phone) {
        font-size: 3rem;
      }

      &:first-child{
        position: relative;
      }
    }
  }


  &__locales{
    @include respond(phone) {
      margin-right: 5rem;
    }
    h4{
      display:inline-block;
    }
    li{
      @include respond(phone) {
        font-size: 1.6rem;
      }
    }
  }
}

.taxonomies-list{
  position: relative;
  @include respond(phone) {
    width: 100%;
    display: flex;
    justify-content: space-around;
    border-top: 1px solid $light-gray;
  }

    &__taxonomy{



      &__major{
        text-transform: uppercase;
      }

      &__subtaxons{
        @include respond(phone) {
          display: none;
        }
        h5{
          margin: .5rem;
        }
      }
    }

    &__n1{
      @extend %n-placeholder;
      left: 5rem;
      @include respond(phone) {
        left: 0;
      }
      &:hover .t_1{
       display: flex;
      }
    }
    &__n2{
      @extend %n-placeholder;
      left: 15rem;
      @include respond(portrait) { // width < 1200
        left: 11rem;
      }
      @include respond(phone) {
        left: 0;
      }
      &:hover .t_2{
       display: flex;
      }
    }
    &__n3{
      @extend %n-placeholder;
      left: 25rem;
      @include respond(portrait) { // width < 1200
        left: 17rem;
      }
      @include respond(phone) {
        left: 0;
      }
      &:hover .t_3{
       display: flex;
      }
    }



    &__n4{
      @extend %n-placeholder;
      left: 35rem;
      @include respond(portrait) { // width < 1200
        left: 23rem;
      }
      @include respond(phone) {
        left: 0;
      }
      &:hover .nosotros{
       display: flex;
      }
    }



}





.t_1, .t_2, .t_3{
  display: none;
  &:hover{
    display: flex;
  }
}



.regalos{
    display: none;
     &:hover{
    display: flex;
  }
}

.nosotros{
  display: none;
   &:hover{
    display: flex;
  }
  h5{
    white-space: nowrap;
  }
}


.languages{
  margin-top: 3rem;
}



