$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 4rem;

$gutter-horizontal: 6rem;

$box-shadow-card: 0 1.5rem 5.5rem 0 rgba(0,0,0,0.04), 0 .2rem .4rem 0 rgba(0,0,0,0.3);




.featured{
  width: 100%;
  &__row{
   display: flex;
   justify-content: space-between;
   &:last-child{
    margin-bottom: $gutter-vertical-small;
   }

  }
}


.square-card{
  margin-top: 7.2vh;
  width: calc((96%) / 2);
  height: calc((86.4vw ) / 2);
  background-color: white;
  overflow: hidden;
  position: relative;

  &--shaded{
    box-shadow: $box-shadow-card;
  }

  &:hover > .btn--featured{
    transform: translateY(-.4rem) scale(1.08);
  }

  &:hover > a > &__picture{
      filter: blur(1px) brightness(85%);
    }


  a:link img {
    opacity: 1.0 !important;
    filter: alpha(opacity=100);
  }

  &--text{
   display: flex;
   justify-content: space-around;
   align-items: center;
  }

  &__picture{
    width: auto;
    height: 102%;

  }
}

.third-card{
  margin-top: 7.2vh;
  width: calc((96%) / 3);
  height: calc((86.4vw ) / 3);
  background-color: white;
  overflow: hidden;
  position: relative;

   &:hover > .btn--third{
    transform: translateX(-50%) translateY(-.4rem) scale(1.08);
  }

  &:hover > a > .square-card__picture{
      filter: blur(1px) brightness(85%);
    }
}




















