.summary{
  padding: 6rem;
  &__line-items{

  }

  &__line-item{
    display: flex;
    justify-content: space-between;
    &:not(:last-child){
      border-bottom: 1px solid $light-gray;
    }
  }

  &__image{
    img{
    width: 10rem;
    }
  }

  &__details{
    width: calc(90% - 10rem);
    text-align: left;
    margin-left: 1rem;
    padding-top: 1rem;

    h4, h5{
    display: block;
    }
  }

  .summary__totals{
    margin-top: 2rem;
    .summary__row{
    display: flex;
    justify-content: space-between;
    padding: 1rem 0;
    text-transform: uppercase;
    border-top: 1px solid $light-gray;
  }

  }


}
