.heading-primary{
  position: absolute;
  top: 30vh;
  width: 100%;
  text-align: right;
   @include respond(portrait) { // width < 1200
      top: 20vh;
    }

  &--main{

    h1{
      font-family: $body-font;
      font-size: 3.6rem;
      font-weight: bold;
      color: white;
      line-height: 10rem;
      margin-right: 2rem;
      text-transform: none;

      @include respond(phone) { // width < 1200
        position: absolute;
        left: 30%;
        font-size: 4rem;
        line-height: 5rem;
      }
    }
  }
}


.heading-secondary{

  text-align: center;
  width: 80%;
  &--main{

  text-transform: uppercase;
  display: inline-block;
  margin: 5rem auto;
  width: 100%;
  }
  &--sub{

    display: inline-block;
    width: 100%;
    margin: 2rem auto;
    padding-right: 4rem;
    white-space: pre-line;


  }

  h2{
    font-size: 3.4rem;
    color: black;
    font-family: "Lora", "serif";
    font-weight: 200;
  }
}




