<div class="featured">
  <div class="featured__row">
      <div class="square-card">
        <%= link_to "#" do %>
          <%= image_tag "featured1.png", class: "square-card__picture"%>
        <% end %>
      </div>
        <div class="square-card square-card--text">
        <div class="heading-secondary">
          <h2 class="heading-secondary--main">
            <%=t('amanda.featured.woman.shoes_title')%>
          </h2>
          <p class="heading-secondary--sub">
            <%=t('amanda.featured.woman.shoes_text')%>
          </p>
          <br>
          <span class="padding-2">

          </span>
        </div>
      </div>
  </div>
</div>
