<div class="featured">

  <% @featured = @products.where(featured: true) %>
  <% @featured.each_with_index do |featured, i| %>
    <% if i.even? %>
      <%= render partial: 'spree/shared/featured_product' , locals: { product: featured}%>
    <% else %>
      <%= render partial: 'spree/shared/featured_product__right', locals: { product: featured}%>
    <% end %>
    <% @products = @products.reject{|product| product == featured} %>
  <% end %>



</div>
