@import 'spree/backend/bootstrap_custom';



div[data-hook="admin_products_index_search_buttons"] {
  margin-top: 2rem;
}

[data-hook="admin_product_form_fields"] {
  label {
    display: inline-block;
  }
  input, select, textarea, .select2-container {
    width: 100%;
  }
  input[type="checkbox"] {
    width: auto;
  }
}

[data-hook="admin_product_form_multiple_variants"] {
  .info-actions {
    text-align: right;
  }
}

.outstanding-balance {
  margin-bottom: 15px;

  strong {
    color: $color-2;
  }
}

#upload-zone {
  border: 2px dashed very-light($color-10, 12);
  padding: 2rem 5rem;
  text-align: center;
  margin: 1rem auto;
  width: 70%;

  i{
    color: very-light($color-10, 12);
    font-size: 10rem ;
  }

  label.upload {
    display: block;
  }

  &.with-images {
    border-color: theme-color("success");
  }
}

.progress-card {
  height: 100%;
  padding: 1rem;
}

.modal-image-trigger {
  cursor: zoom-in;
}

.price-fieldset{
  &:first-child{
    padding-top: 5rem;
  }
  h4, h2{
    text-align: center;
    padding: 1rem;
    font-weight: $font-weight-normal;
  }
  h4 a{
    color: $color-8;


  }
  h2{
    font-family: $font-family-lora;
  }
}

.number-with-currency-with-select .number-with-currency-select {

    cursor: pointer;
    width: 5.5rem;
    border-radius: 0px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 3rem;
}





















