.cart{
  padding-top: 4rem;
  display: block;
  min-height: calc((100vh) - (38rem));


  &__empty{
    box-shadow: $box-shadow-card;
    width: 64%;
    padding: 3rem;
    margin: 0 auto;
    * {
      display: block;
      text-align: center;
    }

    .btn{
      margin: 0 auto;
    }
  }


// -----------------FORM -----------------------
  .cart-form{
    color: $color-black;
    display: flex;
    width: 100%;
      // display: table;
    height: auto;
    justify-content: space-between;
      // min-height: 70px;


    // -----------------FORM LEFT-----------------------

    .cart-form__left{
      // display: table-row;
      width: 64%;
      box-shadow: $box-shadow-card;
      &::after{
        content: “”;
        clear: both;
        display: table;
      }
      table{
        width: 100%;
      }
      thead{
        border-bottom: 1px solid $color-black;
        font-size: 1.4rem;
      }
      th{
        padding: 1rem 0;
        font-family: $body-font;
      }
      img{
        max-width: 150px;
      }

      td {
        font-family: $headers-font;
        font-weight:200;
        font-size: 1.2rem;
      }


    }
    .cart-item-description-header{
        padding-left: 2rem !important;
      }
      // .line-item:not(:last-child) {
      //   border-bottom: 1px solid $iron;
      // }

      .line-item-description{
        white-space: pre-line;
      }

      .cart-item-description{
        padding-left: 5rem;
      }
      .cart-item-quantity input{
        width: 5rem;
        height: 3rem;

        &:focus{
          outline: black;
        }
      }

      .line-item tr{
        height: 15rem;
      }

            .delete img{
        max-width: 1.4rem;
      }

    &__buttons{

      display: flex;
      justify-content: space-between;
      margin: 3rem;
    }



    // -----------------FORM LEFT-----------------------
    .cart-form__right{
      // background-color: rgba($color-black, 0.7);
      width: 32%;
      color: white;
      display: table;
      padding: 2rem;
      box-shadow: $box-shadow-card;
      h2{
          color: black;
        }

      table{
        margin-top: 3rem;
        width: 100%;
        td{
          padding: .5rem;
        }
        h5{
        color: rgba(black, 0.7);
        text-align: left;
        font-size: 1.2rem;
        }



      }
    }
  }
}
