@import "spree/frontend/config/responsive";
@import "spree/frontend/config/colors";
@import "spree/frontend/config/fonts";

// Specific CSS for your home-page
.header{
  height: 86vh;
  width: 100%;
  background-size:cover;
  background-position: top;
  margin: 0;
  position: relative;

  @include respond(portrait) {
    height: 50vh;
  }

  @include respond(phone) {
    height: calc(100vh - 6rem);
  }

  &__banner-content{
  position: absolute;
  top: 0;
  right: 0;
  left:0;
  height: 86vh;
  width: 100%;
  text-align: right;

  @include respond(portrait) {
    height: 50vh;
  }

  @include respond(phone) {
    height: 100vh;
  }
  }
}




