.order-summary{
  width: 100%;
  color: $color-black;

  thead{
    tr{
      height: 5rem;
      border-bottom: 2px solid $color-black;

    }
  }

  tbody{
    tr{
      height: 5rem;
      border-bottom: 1px solid $gray;
      font-family: $headers-font;
       font-weight: 200;
    }
  }
}
#user-info{
  dt{
    font-weight: 400;
  }
  dd{
   font-family: $headers-font;
    font-weight: 200;
    color: $color-black;
    font-size: 1.6rem;
    padding-top: 2rem;

  }
}

.logout{
  display: inline-block;
  text-transform: uppercase;
  font-family: $headers-font;
  margin-left: 1rem;
  font-weight: 200;

}

.account-titles{
  display: inline-block;
  h1{
    display: inline-block;
  }
}

.flash{
  height: 3rem;
  padding-top: 1rem;
  color: $color-black;

}
