.registration{
  display: flex;
  justify-content: space-between;

  &__left{
    width: 40%;
    box-shadow: $box-shadow-card;
    padding: 6rem;
    background-color: white;
  }

  &__right{
    width: 50%;
    box-shadow: $box-shadow-card;

  }

   &__picture{
    width:100%;
  }
  .inline-form p{
   padding-bottom: 2rem;
  }

}
.form--large{
  width: 100%;
}
