.product-show{
  // border: 1px solid red;
  width: 100%;
  margin: 0 auto;
  position: relative;


  // ------------LEFT PART--------------


  &__left{
    // border: 1px solid red;
    width: 60%;
    left: 0;
    top: 0;
    height: 600px;
    backface-visibility: hidden;
  }

  &__images{
   display: flex;
   width: 100%;
   @include respond(portrait) { // width < 900 -->more specific: it should be later on our code
    display: block;
    }
 }

 &__image{
  width: 350%;
  margin: 0 5rem;
  @include respond(portrait) { // width < 900 -->more specific: it should be later on our code
    width: 100%;
    margin: 10rem 0 0 0;
    }
  img{
    width: 100%;
    backface-visibility: hidden;
  }
}


&__thumbnails {
  width: 100%;
  li{
    list-style: none;
  }

  img{
    margin: 0 2rem 2rem 2rem;
    width: 100%;
    backface-visibility: hidden;
    @include respond(portrait) { // width < 900 -->more specific: it should be later on our code
    height: 10rem;
    width: auto;
    margin: 1rem;
    }
  }

  &--left{
  @include respond(portrait) { // width < 900 -->more specific: it should be later on our code
    display: none;
  }
  }
  &--down{
    display: none;
    @include respond(portrait) { // width < 900 -->more specific: it should be later on our code
    display: flex;
    .inline{
      display: flex;
      justify-content: left;
    }
    }
  }
}




  // ------------RIGHT PART--------------

  &__right{
    // border: 1px solid red;
    width: 35%;
    position: absolute;
    right: 0;
    top: 0;
    height: 600px;
    padding: 2rem;

    h1{
      font-family: $headers-font;
      color: $color-black;
      font-weight: 200;
      text-align: left;
      text-transform: uppercase;
      font-size: 2.5rem;
      margin-top: 1rem;
    }
  }

  &__price{
    margin-bottom: 3rem;
  }
}

.product-description{
  padding-top: 2rem;
  p{
    font-family: $headers-font;
    color: $color-black;
    font-weight: 200;
    text-align: left;
    white-space: pre-line;
  }
}

.product-section-title {

  font-family: $headers-font;
  color: $color-black;
  font-weight: 200;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 2rem;

}












