<% if @product.taxons.present? %>
<br>
  <h3 class="product-section-title"><%= Spree.t(:look_for_similar_items) %></h3>
  <br>
  <ul class="list-group" id="similar_items_by_taxon" data-hook>
    <% @product.taxons.each do |taxon| %>


      <%= render partial: 'spree/shared/products', locals: { products: taxon.products.sample(4) , taxon: taxon }%>

    <% end %>
  </ul>
<% end %>
