
 <%= render partial: 'spree/featured/'+ @taxon.permalink %>


 <% unless @taxon.permalink == "woman" || @taxon.permalink == "man"|| @taxon.permalink == "ishvara"|| @taxon.permalink == "ishvara/history" || @taxon.permalink == "ishvara/press" %>

<div data-hook="taxon_products">
  <%= render partial: 'spree/shared/products', locals: { products: @products, taxon: @taxon } %>
</div>

<% unless params[:keywords].present? %>
  <div data-hook="taxon_children">
    <% cache [I18n.locale, @taxon] do %>
      <%= render partial: 'taxon', collection: @taxon.children %>
    <% end %>
  </div>
<% end %>

<% end %>
