<footer id="footer" class="footer" data-hook>
  <div  class="footer__left" data-hook>
    <ul class="footer__list">
      <li class="footer__item"><i class='fa fa-map-marker'></i>      Porto Saler, 6 • Sant Francesc Xavier • FORMENTERA </li>


      <li class="footer__item"><i class='fa fa-phone'></i>     (+34)  971 323 402</li>
      <li class="footer__item"><a href="#" class="footer__link"><i class='fa fa-envelope'></i>      info@formenteraishvara.com</a></li>
    </ul>
    <div class="footer__logo-box">
      <%= link_to root_path do %>
      <%= image_tag "logo.png", class: "footer__image"%>
      <% end %>
  </div>
  </div>
  <div id="footer__right" class="footer__right" data-hook>
    <div class="footer__form-group">
      <%= link_to "https://www.instagram.com/ishvara.formentera/" do %>
        <h3><i class="fa fa-instagram"></i>     <%=t('amanda.footer.follow')%></h3>
      <% end %>
    </div>


</footer>

