<div class="search-bar">
  <% @taxons = @taxon && @taxon.parent ? @taxon.parent.children : Spree::Taxon.roots %>
  <%= form_tag spree.products_path, method: :get do %>
    <% cache [I18n.locale, @taxons] do %>
    <% end %>
    <%= search_field_tag :keywords, params[:keywords], placeholder: t('amanda.searchbar.placeholder') %>
    <%= submit_tag t('spree.search'), name: nil, class: "btn btn--white-border" %>
  <% end %>
</div>
