<div class="taxon-card-small margin-top-medium">
  <div class="taxon-card-small__top">
    <%= link_to "/t/woman/shoes" do %>
    <%= image_tag "tienda-jose-calzado.png", class: "taxon-card-small__picture"%>
    <% end %>
  </div>
  <div class="taxon-card-small__bottom">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=t('amanda.featured.woman.shoes_title')%>
      </h2>

      <a href="/t/woman/bags" class= "btn btn--black "><%=t('amanda.home.belts')%></a>
    </div>
  </div>
</div>
