<div class="taxon-card margin-top-medium">
  <div class="taxon-card__left">
    <div class="heading-secondary">
      <h2 class="heading-secondary--main">
        <%=t('amanda.featured.woman.shoes_title')%>
      </h2>

      <a href="/t/woman/bags" class= "btn btn--black margin-top-medium"><%=t('amanda.home.belts')%></a>
    </div>

  </div>

    <div class="taxon-card__right">
      <%= link_to "/t/woman/shoes" do %>
      <%= image_tag "tienda-jose-calzado.png", class: "taxon-card__picture"%>
      <% end %>
    </div>

</div>

