<div class="square-card">
       <%= link_to taxon.permalink do %>
          <%= image_tag image, class: "square-card__picture"%>

          <%= link_to taxon.name, taxon.permalink , class: "btn btn--white btn--third"  %>
        <% end %>
      </div>
