<div class="square-card">
       <%= link_to "/t/woman/bags" do %>
          <%= image_tag "featured2.png", class: "square-card__picture"%>
          <a href="/t/woman/bags" class= "btn btn--white btn--third"><%=t('amanda.home.bags')%></a>
        <% end %>
      </div>


